.section-about
    padding-top: 8rem
    padding-bottom: 6rem

.section-adventure
    padding: 21rem 0
    background: $gradient_brown-black, url("../img/adventure-section.png") center / cover no-repeat
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%,)

.section-tour
    padding: 8.5rem 0 8rem 0

.section-feedBack
    padding: 8rem 0
    position: relative
    z-index: 0

.section-book
    padding: 10rem
    background: linear-gradient(90deg, rgba($color_brown_light, .9), rgba($color_brown_dark, .9))